body {
  background-color: black;
  color: white;
  font-family: monospace;
}

h1 {
  font-size: 36pt;
  text-align: center;
}
/* Grid Container */
#container {
  position: absolute;
  right: 680px;
  top: 200px;
}
.grid-container {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;  
  padding: 10px;
  border-radius: 10px;
}
.grid-item {
  border: 5px solid #fff;
  padding: 20px;
  font-size: 80px;
  text-align: center;
}
/* Grid Container */

#reset-btn {
  background-color: white;
  border-radius: 1.6rem;
  border-color: transparent;
  padding: 10px 50px;
  color: black;
  position: absolute;
  bottom: 90px;
  right: 880px;
  font-weight: bold;
  font-size: 14pt;
}

#play-again {
  background-color: white;
  border-radius: 1.6rem;
  border-color: transparent;
  padding: 10px 50px;
  color: black;
  position: absolute;
  bottom: 380px;
  right: 858px;
  font-weight: bold;
  font-size: 14pt;
}


/* X & O Turns Divs */
#X {
  position: absolute;
  font-weight: bold;
  width: 200px;
  top: 400px;
  left: 300px;
  font-size: 42pt;
  transition: 0.5 all ease-in-out;
  color: white;
}

#O {
  position: absolute;
  font-weight: bold;
  width: 200px;
  top: 403px;
  right: 200px;
  font-size: 24pt;
  transition: 0.5 all ease-in-out;
  color: white;
}
/* X & O Turns Divs */

#tie {
  position: absolute;
  right: 810px;
  top: 440px;
  font-weight: bold;
  font-size: 36pt;
}

#won {
  position: absolute;
  right: 870px;
  top: 400px;
  font-weight: bold;
  font-size: 36pt;
}
